<div class="footer">
  <p class="text-center">Trademark KD3TS </p>
  <div class="socialMedia text-center">
    <i class="fa fa-twitter"></i>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-instagram"></i>
  </div>

  </div>
</body>
</html>
