<div class="row">
  <% user.uploads.slice(0, 3).forEach(function(cosplay){ %>

      <div class="col-2 col-md-4 col-sm-4 contentWell text-center">
        <a href="/cosplay/<%= cosplay._id %>">
        <div class="imgContainer">
          <img src="<%= cosplay.defaultPicture %>">
        </div>
        <p><%= cosplay.character %> </p>
        </a>
        <small><%= countLikes(cosplay.likedBy) %> likes</small>
      </div>

  <% }); %>
</div>
