<% include partials/header %>
<link rel="stylesheet" href="/css/master.css">
<div class="landingContent">
  <div class="container">
    <div class="row">
      <div class="col col-md-6 col-sm-1 landingBlurb">
        <h1 class="text-center">Gonzocon</h1>
        <h4 class="text-center">A community for Con-Goers, by Con-Goers </h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="col-md-12 text-center">
            <button type="button" name="learnMore" class="btn btn-info">Learn More..</button>
        </div>

      </div>
<%# ====================
SIGN UP
==================== %>
      <div class="col col-md-6 col-sm-12 col-xs-12 landingSignUp">
        <h1>Sign Up</h1>
        <form>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6 col-xs-6">
              <label for="signUpEmail">Email Address</label>
              <input class="form-control" type="email" id="signUpEmail" name="signUpEmail" placeholder="example@example.com">
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-6">
              <label for="signUpUsername">Username</label>
              <input class="form-control" type="text" id="signUpUsername" name="signUpUsername" >
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-6 col-xs-6">
              <label for="signUpPassword">Password</label>
              <input class="form-control" type="password" id="signUpPassword" name="signUpPassword">
            </div>
            <div class="form-group col-md-6 col-sm-6 col-xs-6">
              <label for="repeatPassword">Repeat Password</label>
              <input class="form-control" type="password" id="repeatPassword" name="repeatPassword" placeholder="Repeat Password">
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6 col-sm-6 col-xs-6">
            <label for="birthday">Birthdate</label>
            <input class="form-control" type="date" name="birthday" id="birthday">
          </div>
          <div class="form-group col-md-7 col-sm-7 col-xs-7">
            <h6>We won't sell your information to any third parties.
              If you're interested, you can probably read our <a href="#">Terms and Conditions</a> here.</h6>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8 col-sm-8 col-xs-8">
            <button type="submit" name="button" class="btn btn-primary">Sign up!</button>
          </div>
          <div class="form-group col-md-6 col-sm-6 col-xs-6">
            <p><a href="#" onclick="toggleSignIn()">Already registered? Log in!</a></p>
          </div>
        </div>
        </form>
      </div>
<%# ====================
LOG IN
==================== %>
      <div class="col-md-6 col-sm-6 col-xs-6 landingSignUp hidden">
        <p>Lol</p>
        <p><a href="#"onclick="toggleSignIn()">Sign up</a></p>
      </div>


    </div>
  </div>


</div>
<% include partials/footer %>
