<% include partials/header %>
<% include partials/navbar %>
<div class="landingContent">
  <div class="container landingPage">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 landingBlurb text-center" >
        <h1 class="">Gonzocon</h1>
        <p>A social network for Cosplayers, Convention-goers, and other various
          nerds. This description needs to be longer.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 landingSignUp">
        <h2>Sign Up</h2>
        <% include partials/signUp %>
        <div class="form-group col-md-6 col-sm-6 col-12">
          <p><a href="#" onclick="toggleSignIn()">Already registered? Log in!</a></p>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 landingSignUp d-none">
        <h2>Register</h2>
        <% include partials/loginForm %>
        <div class="form-group col-md-6 col-sm-6 col-12">
          <p><a href="#" onclick="toggleSignIn()">Don't have an account? Sign up!</a></p>
        </div>
      </div>
    </div>
  </div>
<% include partials/footer %>
