<% include partials/header %>
<div class="landingContent">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 landingSignUp">
        <% include partials/signUp %>
      </div>
    </div>
  </div>
<% include partials/footer %>
