<% include partials/header %>
<div class="container">
  <div col-md
  <p>Wowie</p>
</div>

<% include partials/footer %>
<% include partials/header %>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Gonzocon</h1>
    <p>A new social media site for Cosplayers, by Cosplayers.</p>
    <a class="btn btn-primary" href="register">Sign up!</a>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
    qui officia deserunt mollit anim id est laborum.</p>
</div>
<div class="flexContainer">
  <div class="conIndex">
    <h1>Upcoming Cons</h1>


    <a href="/cons/showall">View all cons</a>
  </div>
</div>
<div class="flexContainer">
  <div class="conIndex">
    <h1> Newest Cosplays </h1>

<div>
  <a href="/cosplay">See all Cosplays</a>
</div>
</div>
</div>

<% include partials/footer %>
