body, html {
  height: 100%;
}
/* NAV STYLES */
.navbar{
  background-color:#EAE5DE;
  margin-bottom: 10px;
}

/*CONVENTION STYLES*/
.imgContainer {
  overflow: hidden;
  width: 100%;
  max-height: 15%
  padding: 0px;
  margin: 0px;

}
.imgContainer img {
  width: 120px;
  height: 120px;
}
.contentWell {
  padding: 0px;

}
.avatarContainer{
  overflow: hidden;
  width: 100%;
  margin-top: 10px;
}

.avatarContainer img {
  overflow: hidden;
  border-radius: 100%;
  width: 75px;
  height: 75px;
}
/* ====================================
new class
==================================== */
.landingContent {
  height: 100%;
  background-image: url("/assets/images/cons/conImg-1516218959051.jpg");
  background-attachment: fixed;
  background-position: center;
}
.landingBlurb{
  color:white;
  text-shadow: 1px 1px black;
  margin-right: 10px;
}
.landingNav {
  list-style: none;
  padding: 0;
}
.landingSignUp {
  margin-top: 100px;
  background-color: #EAE5DE;
  border-radius: 20px;
  box-shadow: 10px 10px 10px black;
}
.landingSignUp input {
  background-color: white;
  border-radius: 1em;
}
#sideBar {
  margin-right: 1.5em;
  font-size: .75em;
  height: 100%;
}
.homeContent{
  padding-left: em;
}

/*USER PROFILE CLASSES  */
.profileAvatar{

}
.profileAvatar img{
  max-width: 100%;
}



/* ===========================
Image Classes
=========================== */
.defaultCosplayPhoto{
  width: 100%;

}
.defaultCosplayPhoto img {
  width: 100%;
}
/* ===========================
Cosplay PAGE Classes
=========================== */
.cosplayInfo{
  width: 100%;

}
.cosplayDesc{
  padding: 2em;
}
