<% include ../partials/header %>
<h1>User homepage</h1>
<div class="thumbnail">
  <img src="<%= user.avatar %>" alt="avatar">
  <p><%= user.username %></p>
  
</div>


<% include ../partials/footer %>
