<% include ../partials/header %>
<div class="container">
  <h1>Conventions</h1>
  <p>Don't see your convention listed here? <a href="cons/newcon">Add a new one!</a></p>


<div class="flexContainer">
  <div class="conIndex">
    <h1>Upcoming Cons</h1>

    <div class="upcomingCons">

      <% conventions.slice(0, 3).forEach(function(cons){ %>
        <div class="conventionWell">
            <h4> <%= cons.name %> </h4>
            <h5> <%= cons.location %> </h5>
            <h6> <%= cons.date %> </h6>
          <p>
            <a href="/cons/<%= cons._id %>" class="btn btn-primary">More Info</a>
          </p>
          </div>
      <% }); %>
    </div>
    <a href="/cons/showall">View all cons</a>
  </div>
</div>


<% include ../partials/footer %>
