<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="container">
  <div class= "row">
    <% include ../partials/sidebar %>
    <div class="col-12 col-md-9">
      <h1>Conventions</h1>
      <p>Don't see your convention listed here? <a href="cons/newcon">Add a new one!</a></p>
      <% include ../partials/upcomingCons %>
    </div>
      <a href="/cons/showall">View all cons</a>
    </div>

    </div>
  </div>
<% include ../partials/footer %>
